.levelTitleBlock {
  font-size: 14px;
  padding: 0.15rem 0;
  line-height: 1.5;

  :global(button.p-tree-toggler) {
    display: none;
  }
}

.levelTitle {
  font-weight: bold;
}

.levelDescription {
  font-weight: normal;
  padding: 0.05rem;

  margin-top: 8px;
}

.activityGroup {
  font-weight: bold;
}

.activity {
  max-width: 700px;
  font-weight: normal;
  line-height: 1.5;
  white-space: pre-wrap;
  border: 1px solid #eee;
  margin-bottom: 8px;
  border-radius: 8px;

  > .activity {
    margin-bottom: 0;
    border: none;
    border-radius: 0;


  }

  &[aria-expanded="true"] > .activity {
    margin-bottom: 8px;
    border-bottom: 1px solid #eee;
  }
}
